/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (5.0.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package pl.beling.konkurs.api;

import jakarta.validation.Valid;
import pl.beling.konkurs.dtos.output.ATMDto;
import pl.beling.konkurs.dtos.input.TaskDto;
import org.springframework.http.ResponseEntity;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import java.util.List;

@Validated
public interface AtmsApi {

    /**
     * POST /atms/calculateOrder
     * Calculates ATMs order for a service team
     *
     * @param task (required)
     * @return Successful operation (status code 200)
     */
    @PostMapping(
            value = "/atms/calculateOrder",
            produces = {"application/json"},
            consumes = {"application/json"}
    )
    ResponseEntity<List<ATMDto>> calculate(@Valid @RequestBody List<TaskDto> task);

}
