/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (5.0.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package pl.beling.konkurs.api;

import jakarta.validation.Valid;
import pl.beling.konkurs.dtos.output.ClanDto;
import pl.beling.konkurs.dtos.input.PlayersDto;
import org.springframework.http.ResponseEntity;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import java.util.List;

@Validated
public interface OnlineGameApi {

    /**
     * POST /onlinegame/calculate
     * Calculate order
     *
     * @param players (required)
     * @return Successful operation (status code 200)
     */
    @PostMapping(
            value = "/onlinegame/calculate",
            produces = {"application/json"},
            consumes = {"application/json"}
    )
    ResponseEntity<List<List<ClanDto>>> calculate(@Valid @RequestBody PlayersDto players);

}
