/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (5.0.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package pl.beling.konkurs.api;

import jakarta.validation.Valid;
import pl.beling.konkurs.dtos.output.AccountDto;
import pl.beling.konkurs.dtos.input.TransactionDto;
import org.springframework.http.ResponseEntity;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import java.util.List;

@Validated
public interface TransactionsApi {

    /**
     * POST /transactions/report
     * Execute report for provided transactions
     *
     * @param transactions (required)
     * @return Successful operation (status code 200)
     */
    @PostMapping(
            value = "/transactions/report",
            produces = {"application/json"},
            consumes = {"application/json"}
    )
    ResponseEntity<List<AccountDto>> report(@Valid @RequestBody List<TransactionDto> transactions);

}
